/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background: linear-gradient(to bottom, $color-primary-3, $color-primary-0 70%, $color-primary-1);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

nav {
    position: absolute;
    margin-left: 10px;

    ul li {
        display: inline-block;
        margin-right: 10px;

        a {
            font-size: 1.5em;
            font-weight: bold;
            color: $color-secondary-2-1;
            text-decoration: none;
            -webkit-transition: all .3s ease-out;
            transition: color .3s ease-out;
        }

        a:hover {
            color: $text-color;
            text-shadow: 0px 1px 2px black;
        }

        a:active {
            text-shadow: none;
        }
    }
}

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;

    .home {
        position: relative;
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        margin-top: -150px;
        opacity: 0;
        -webkit-animation: fade-out 1s ease-out 1s;
        -webkit-animation-fill-mode: forwards;
        animation: fade-out 1s ease-out 1s;
        animation-fill-mode: forwards;
    }

    .cover {
        position: absolute;
        height: 300px;
        width: 100%;
        top: 50%;
        margin-top: -150px;
        perspective: 1000px;
        -webkit-user-select: none; // 停止手势
        -webkit-touch-callout: none;

        .flip {
            box-sizing: border-box;
            width: (100%/24);
            height: 100%;
            float: left;

        }

        .flip.hover {
            transform-style: preserve-3d;
            animation-name: flipover;
            animation-duration: .4s;
            animation-fill-mode: forwards;
        }
    }
}


@keyframes fade-out {
    from {
        opacity: 0;
        transform: translate(0, -20px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes flipover {
    0% {
        background-color: $color-primary-0;
        transform: rotateY(0deg);
    }
    50% {
        background-color: $color-primary-0;
        transform: rotateY(90deg);
    }
    100% {
        background-color: $color-primary-2;
        transform: rotateY(180deg);
    }
}
